body {
  margin: 0em
}


.cover{
  height:600px;
  background-image:url(https://cdn.glitch.me/65e8e0c7-9708-4f59-a85b-b743fd5df6b7%2FIMG_4416.JPG?v=1633524114732);
  color:white;
  background-size: cover;
  background-position:center;
  background-color:rgba(0,0,0,0.3);
  background-blend-mode: darken;
}
.card{
  border: 0 !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
footer span {
  margin: 1cm
}
img{
  border-style: round;
}